* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    height: 3em;

}

nav {
    width: 90%;
    margin: auto;
    padding-top: 0.9em;
}


nav ul {
    display: inline-block;


}

nav ul li {
    display: inline;
}

nav ul li a {
    color: grey;
    text-decoration: none;
    padding: 8px 16px 8px 0;
}

.bootstrap {
    font-weight: bold;
}

section {
    width: 90%;
    margin: auto;
    padding: 1em;
}

h1 {
    font-size: 35px;
    font-weight: normal;
    margin-top: 1em;
    margin-bottom: 0em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid;
    border-color: rgb(210, 210, 210);
}

h1 span {
    color: grey;
    font-size: 20px;
}

h2 {
    font-size: 25px;
    font-weight: normal;
    width: 80%;
    padding: 0.5em;
}

h2 span {
    font-size: 18px;
    margin: auto;
}

article {
    display: inline-block;
    border-bottom: 1px solid;
    border-color: rgb(210, 210, 210);
    margin-top: 1em;
    padding-bottom: 1em;
}

article img {
    float: left;
    margin-right: 2em;
}

article p {
    display: inline-block;
    width: 30%;
    margin-bottom: 2em;
}

.projects {
    text-decoration: none;
    margin-top: 3em;
    background-color: rgb(53, 79, 173);
    color: white;
    margin-left: 2em;
    padding: 0.5em;
    border-style: 1px solid;
    border-radius: 5px;
}

.projects:hover {
    background-color: rgb(30, 0, 129);
}

.pagination {
    display: inline-block;
    width: 58%;
    border-bottom: 1px solid;
    border-color: rgb(210, 210, 210);
    margin-left: 4em;
    padding-left: 26em;
    padding-bottom: 3em;
    padding-top: 2em;
}

.pagination li {
    display: inline;
    padding-left: 1em;
}

.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pagination li a.active {
    background-color: rgb(53, 79, 173);
    color: white;
    border: 1px solid rgb(53, 79, 173);
}

.pagination li a:hover:not(.active) {
    background-color: #ddd;
}

footer {
    width: 90%;
    margin: auto;
    padding-top: 3em;
    padding-bottom: 3em;
}
